<div class="image-container">

        <img src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.18169-9/12369056_10205130291077617_5727357909496450965_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=4jiqlnxW2MYQ7kNvgGpXvEc&_nc_ht=scontent-dfw5-2.xx&oh=00_AYCryarqfHSnhapCNTlsvq1GQm3I5WhgA--S07p-YxbA9w&oe=66914441" class="profile-pic" alt="..." width="500px" h>
</div>

<!--Put possible ripple on image have it fade to other pictures like on carsel-->
<!--Needs inlaid shadow and border almost like impritned in wall -->