<!---Header-->
  <h1>Welcome</h1>
  <div class="text-center">
    <mat-progress-bar mode="indeterminate" value="18"></mat-progress-bar>
      <div class=".col-md-3 .offset-md-3">
        <div class="image-container2">
          
          <app-profile-image></app-profile-image>
        </div>
        <div class="socialmedia row">
          <app-footer></app-footer>
        </div>
    </div>
  </div>
  <div class=".col-md-3 .offset-md-3">
   <app-details></app-details>
  </div>
<!--Body with image float right Should include picture-->

<!--Image-->

<!--Float left with title and quick Bio-->

