

<section class="details-container">
    <mat-progress-bar mode="indeterminate" value="18"></mat-progress-bar>
  <mat-tab-group>
   

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        About me
      </ng-template>
      <img src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.6435-9/97543299_10157963126511708_4453702806154510336_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=o4A66eZqbz8Q7kNvgGpGMxv&_nc_ht=scontent-dfw5-2.xx&oh=00_AYBDgc-6OQOCQPZRmA2uoe8hULX2jKRU8KfE1STSc65wfw&oe=669525F5" class="art-photo float-start" alt="...">
      <p class="text-center">
        In my previous role as a Mardi Gras Float Artist at Ducote Designs, I developed art and design concepts, utilizing color theory and lighting techniques to create visually appealing sculptures and illustrations. 
        I collaborated with teams to oversee the entire website creation process, from initial planning to rollout, ensuring that the websites were responsive, effective, and secure.
        
         Additionally, I maintained positive relationships with artists and internal partners, fostering a collaborative environment for future opportunities.
        
        Prior to that, I worked as a Bartender at Lake Front Arena, where I honed my organizational skills by keeping the bar presentable and well-stocked. I performed opening and closing duties, managed inventory, and followed alcohol awareness procedures to ensure a safe and enjoyable environment for guests.
        
        I hold a degree in Liberal Arts with a focus on Film from the University of New Orleans, where I developed critical and creative thinking skills, as well as a strong understanding of visual storytelling.
        
        My technical skills include proficiency in front-end development (HTML, CSS, JavaScript),
        
         JavaScript libraries and frameworks (React, Angular, Vue), database management (Oracle, SQL Server, MongoDB), scripting languages (PHP, Python, JavaScript), and API design and development.
        
        I am an avid learner, constantly staying updated on the latest web development standards, technologies, and frameworks. I have completed Tech Talent & Strategy's Foundational Full Stack Web Development and Advanced Full Stack Web Development certifications, further enhancing my skills in the field.
      </p>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Some Projects 
      </ng-template>
      <div class="row"> <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Make a Hero</h5>
          <p class="card-text">Online Hero Creator With Real Time Chat</p>
          <a href="https://github.com/pkranz27/CreateAHeroV2" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Angular Front End with Spring Backend</h5>
          <p class="card-text">Online Eccomerce store</p>
          <a href="https://github.com/pkranz27/Angular-Spring-Market" class="btn btn-primary">Go somewhere</a>
        </div>

    </div>
      </div>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Contact information
      </ng-template>
     <h2 type="Email">Email: pkranz1.com</h2> 
    <br>
    <h2>Phone Number:(985) 705-0969</h2>
    </mat-tab>
  </mat-tab-group>
  <mat-progress-bar mode="indeterminate" value="18"></mat-progress-bar>
  </section>
