.details-container{
    border-radius: 100px;
    background: rgb(117,38,214);
    background: linear-gradient(36deg, rgba(117,38,214,1) 12%, rgba(255,93,126,0.7791317210477942) 40%, rgba(213,27,174,0.5270308807116597) 76%, rgba(90,8,231,1) 100%); 
    box-shadow:3px 3px 3px  purple;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 30px;
    letter-spacing: 2px;
  line-height: 100%;
    position:relative;
    margin-right: 63px;
    margin-left: 63px;

}
.art-photo{
    box-shadow:3px 3px 3px  purple;
    padding-right: 4px;
    width: 150px;
    height: 150px;
    border-radius: 230px 230px 230px 230px;
    border-style: inset 3px black;
    background-color: red;
    position: relative;
    animation-name: bouncy;
    animation-duration: 4s;
}
@keyframes bouncy {
    0%   {background-color:rgba(160, 21, 179, 0.829); left:0px; top:0px;}
    25%  {background-color:rgb(231, 28, 106); left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:rgb(30, 238, 210); left:0px; top:200px;}
    100% {background-color:rgb(112, 11, 179); left:0px; top:0px;}
  }